{% extends 'base.html' %}

{% block content %}

<main role="main" class="inner cover mx-auto">
  <h1 class="cover-heading">Now, You Slim.</h1>
  <p class="lead">It's the time to move on. You all have a power making you slim!</p>
  <p class="lead">
    {% if user.is_authenticated %}
    <a href="{% url 'userpage' %}" class="btn btn-lg btn-primary">Start Work!</a>
    {% else %}
    <a href="{% url 'register' %}" class="btn btn-lg btn-primary">Register Now</a>
    {% endif %}
  </p>
</main>

{% endblock %}